@import 'variables';

.v-btn.bg-light-dark {
  &:hover {
    background-color: $light-green!important;
  }
}

.btn {
  font-size: 18px!important;
  &.no-pre-line {
    .v-btn__content {
      white-space: nowrap !important;
    }
  }
  .v-btn__content {
    white-space: pre-line !important;
  }

  @media screen and (max-width: $xs - 1) {
    font-size: 14px !important;
  }
}

.btn-large {
  height: 50px!important;

  .v-btn__content {
    padding: 0 10px;
  }
}