//Colors
$light-dark: #333;
$dark-blue: #184556;
$blue: #289FD9;
$green: #8cc63e;
$light-green: #7FBE42;
$grey: #acacac;
$light-gray: #e0e0e0;
$red: #ed1c24;

//Breakpoints
$xs: 600px;
$sm: 960px;
$md: 1264px;
$header-break-point: 1320px;